(
    archetype: (
        name: "MLP (captured)",
        color: (0.8, 0.45, 1.0),
        count: 80,
        radius: 8.0,
        reserve_max: 120.0,
        genotype: (
            max_speed: 180.00906,
            agility: 0.03030425,
            vision_range: 265.02362,
            vision_fov_deg: 109.597725,
            reproduction_threshold: 37.581085,
            offspring_energy: 79.93611,
            mutation_rate: 0.15,
            base_metabolism: 4.0,
            move_cost: 2.0,
            vision_rays: 3.6107395,
            photosynthesis: 0.0,
            seed_dispersal: 0.0,
            brain_cost: 0.0,
            agility_cost: 0.02,
            nutrient_absorption: 0.0,
            nutrient_capacity: 30.0,
            offspring_nutrient: 8.0,
        ),
        brain: Mlp(
            hidden: [
                10,
            ],
        ),
        mutable: (
            max_speed: true,
            agility: true,
            vision_range: true,
            vision_fov: true,
            reproduction_threshold: true,
            offspring_energy: true,
            mutation_rate: false,
            base_metabolism: false,
            move_cost: false,
            vision_rays: true,
            photosynthesis: false,
            seed_dispersal: false,
            brain_cost: false,
            agility_cost: false,
            nutrient_absorption: false,
            nutrient_capacity: false,
            offspring_nutrient: false,
        ),
        captured_brain: Some(Mlp((
            layers: [
                (
                    inputs: 15,
                    weights: [
                        0.113061085,
                        0.27729934,
                        0.11141576,
                        0.15880822,
                        -0.044895556,
                        0.7428195,
                        -0.10197088,
                        0.54617226,
                        0.19621585,
                        -0.2343171,
                        -0.026883766,
                        -0.12702636,
                        -0.17696941,
                        0.18866825,
                        0.5102954,
                        0.10529894,
                        0.29863566,
                        -0.53078616,
                        0.30074736,
                        -0.41596687,
                        0.25836435,
                        -0.15211049,
                        -0.24422184,
                        0.0065411218,
                        0.11677631,
                        0.040413246,
                        -0.09871197,
                        0.14863786,
                        0.28517827,
                        0.54969585,
                        0.12854148,
                        -0.28823882,
                        -0.34597915,
                        -0.005426444,
                        -0.0723466,
                        0.05534511,
                        -0.449507,
                        0.07381928,
                        0.013466455,
                        0.36278477,
                        -0.097290374,
                        -0.07193203,
                        -0.054881748,
                        -0.16689815,
                        0.85224384,
                        -0.25624052,
                        0.14039676,
                        -0.5728868,
                        -0.2955929,
                        0.051135875,
                        -0.0055314153,
                        -0.38797373,
                        -0.22676525,
                        0.06251866,
                        0.014349189,
                        -0.013130084,
                        -0.07739978,
                        0.101193525,
                        -0.40848467,
                        -0.108082846,
                        0.27566206,
                        -0.05369415,
                        0.54247457,
                        -0.12466828,
                        0.15497242,
                        -0.2611901,
                        0.12018171,
                        0.24354307,
                        0.36883208,
                        -0.24899833,
                        -0.7179893,
                        -0.12306173,
                        0.14499721,
                        0.20309502,
                        -0.2968452,
                        0.13353069,
                        -0.45861837,
                        0.40969497,
                        0.068038024,
                        -0.05258502,
                        -0.14041899,
                        -0.13485764,
                        -0.09490499,
                        -0.06154404,
                        0.45794275,
                        -0.34294668,
                        -0.43957472,
                        -0.15939854,
                        -0.11619578,
                        -0.38737124,
                        -0.07303734,
                        0.07481705,
                        0.08972576,
                        0.3629378,
                        0.18803957,
                        0.051005032,
                        -0.040259346,
                        0.61981225,
                        0.07698397,
                        -0.3214307,
                        0.197814,
                        0.12737459,
                        -0.022680208,
                        -0.23860604,
                        -0.1522477,
                        -0.121576965,
                        -0.38093862,
                        0.1814312,
                        -0.037127182,
                        0.27858078,
                        -0.14092967,
                        -0.016051807,
                        -0.07785379,
                        0.45056725,
                        -0.13330883,
                        0.16090342,
                        0.14926875,
                        0.08725159,
                        -0.19906858,
                        -0.27120286,
                        0.53904456,
                        0.046732813,
                        0.11720298,
                        0.5188872,
                        0.041543752,
                        -0.35443437,
                        -0.30692738,
                        0.3704261,
                        -0.18561848,
                        0.08705268,
                        -0.4152138,
                        0.04563718,
                        0.01792781,
                        0.3569033,
                        -0.045614704,
                        -0.26611704,
                        -0.9616302,
                        -0.19600159,
                        0.49711797,
                        -0.28064093,
                        0.30363926,
                        0.097516865,
                        -0.45385194,
                        -0.28609496,
                        -0.23117015,
                        0.2644937,
                        0.4588863,
                        -0.1865012,
                        -0.08703947,
                        -0.26866275,
                    ],
                    biases: [
                        0.006237779,
                        -0.07814389,
                        -0.2389918,
                        -0.033816148,
                        0.24257314,
                        0.1126957,
                        0.037957426,
                        -0.038973525,
                        0.1511783,
                        0.21910106,
                    ],
                ),
                (
                    inputs: 10,
                    weights: [
                        -0.18432675,
                        0.006992109,
                        0.1375851,
                        -1.0543634,
                        0.39599776,
                        -0.18395573,
                        0.11505236,
                        0.36445615,
                        -0.46932846,
                        -0.30027872,
                        -0.32222047,
                        -0.027322894,
                        0.44362432,
                        -0.69294256,
                        0.82951784,
                        0.17582881,
                        -0.7597871,
                        -0.105407596,
                        0.8167019,
                        -0.27637136,
                    ],
                    biases: [
                        0.2989597,
                        0.2929728,
                    ],
                ),
            ],
        ))),
        captured_from: Some("MLP · G5"),
    ),
    variant_of: Some("MLP"),
    variant_id: Some("trained-5"),
)